# Data & models: ignore contents, keep folder + .gitkeep
!data/
data/*
!data/.gitkeep

!backend/models/
backend/models/*
!backend/models/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.venv/
.env

# Outputs & reports
outputs/
reports/

# Node / frontend
node_modules/
frontend/node_modules/
dist/
*.log

# OS/editor junk
.DS_Store
.vscode/
.idea/
